<section class="message-details-section">
    <div class="user-message-details">
        <h1>Titre du message : {{message.title}}</h1>
        <h2>De : {{message.userEmail}}</h2>
        <h2>Catégorie : {{message.category}}</h2>
        <h2>Reçu le {{message.receivedDate}}</h2>

        <h3>Message : </h3>

        <p>{{message.content}}</p>
    </div>

    <div class="message-detail-reponse">
        <form action="" method="post">
            <h2>Votre réponse</h2>
            <textarea name="response" id="response"></textarea>
            <button>Envoyer votre réponse</button>
        </form>
    </div>
</section>