<section class="adminMessages">
    <h1>Vos messages</h1>

    <div class="message-container">
        <div class="message-card-layout">
            <h2>Titre</h2>
            <h2>Categorie</h2>
            <h2>E-Mail de l'utilisateur</h2>
            <h2>Date de reception</h2>
            <h2>Etat</h2>
            <h2>Lire</h2>
        </div>
        {{#each messages}}
            <div class="message-card">
                <h2>{{this.title}}</h2>
                <h2>{{this.category}}</h2>
                <h2>{{this.userEmail}}</h2>
                <h2>{{this.receivedDate}}</h2>
                <h2>{{this.etat}}</h2>
                <h2><a href="/messages/{{this.id}}"><button>Lire le message</button></a></h2>
            </div>
        {{/each}}
    </div>
</section>