<section class="cart-section">
    <div class="cartDisplay">
        <div class="panierTitre">
            <h1>Votre Panier</h1>
            <img src="/images/panier.png" alt="">
        </div>
        {{#if totalPrice}}
            {{#each cartToRender}}
            <div class="cart-card">
                <img src="/{{this.image}}" alt="">
                <div class="cart-card-detail">
                    <h3>{{this.name}}</h3>
                    <p>{{this.price}}€</p>
                    <div class="count">
                        <p>Quantité : </p>
                        <div class="count-btn">
                            <button>-</button>
                            <p>{{this.product_count}}</p>
                            <button>+</button>
                        </div>
                    </div>
                </div>
                <form action="/panier/removeProduct" method="post">
                <input type="hidden" name="cartId" value="{{this.cart_id}}">
                    <button class="remove-button">Retirer du panier</button>
                </form>
            </div>
            {{/each}}
            <p class="totalPrice">Total: {{totalPrice}}€</p>
            {{else}}
            <p>Le panier est vide</p>
        {{/if}}
    </div>
</section>