<section class="detail-page">
    <div class="product-container">
        <div class="product-detail" id="product-detail-{{product.id}}">
            <h2>{{product.name}}</h2>

            <div class="image-detail">
                <img src="/{{product.image}}" alt="">
            </div>

            <p>{{product.description}}</p>

            <p>{{product.price}}€</p>

            <form id="formCart" action="" method="post">
                <textarea name="id" id="productIdDetail">{{product.id}}</textarea>
                <button id="addToCart"><img src="/images/panier.png">Ajouter au panier</button>
            </form>
        </div>

        <div class="comments-container">
            {{#each productComment}}
            <div class="comment">
                <h2>Avis de {{this.username}}</h2>
                <h3>{{this.stars}}</h3>
                <p>"{{this.comment}}"</p>
            </div>
            {{/each}}
        </div>
    </div>
</section>