<section class="product-page">
    <div class="filtre-container">
        <h3>Filtrer par : </h3>
        <div class="filtre">
            <h4>Categorie</h4>
            <form action="/product/filterCategory" method="post">
                <select name="categoryFilter" id="category-filter">
                    <option value="Audio">Audio</option>
                    <option value="Wearable">Wearable</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Informatique">Informatique</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Accessoires">Accessoires</option>
                    <option value="Domotique">Domotique</option>
                </select>
                <button>Appliquer le filtre</button>
            </form>
        </div>
    </div>
    <div class="product-page-container">
        {{#each products}}
            <div class="product-card">
                <h2>{{this.name}}</h2>
                <div class="product-page-image">
                    <img src="/{{this.image}}" alt="image de {{this.name}}">
                </div>
                <h3>{{this.price}}€</h3>
                <a href="/product-detail/{{this.id}}">Plus d'infos ici</a>
            </div>
        {{/each}}
    </div>
</section>